html {
  min-height: 100%;
  background: linear-gradient(180deg, #1a7a4d 0%, #0f4f35 100%);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main {
    flex: 1;
}

.row {
    display:flex;
}

.box {
    flex: 1;
    padding: 5px;
}

.box a {
    margin: 10px;
    font-size: 15px;
}

.box img {
    border-radius: 10px;
    border: 5px solid #000000;
}

h1, h2,h3, h4, p {
    text-align: center;
    color:#000000;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}
img {
    display: block;
    margin: 0 auto;
}
nav {
   text-align: center;
   width: 100%;
}
nav a {
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.3s ease;
    margin: auto 5px;
}

nav a:hover {
    background: #0e8144;
     transform: scale(1.05);
}

nav a.active {
    background: #ffffff;
    color: #0e8144;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

header {
    background: #0b4e31; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.35);
    height: 8vh;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 5px 0px;
    
}
.intro {
    font-size: 20px;
}

.video {
    border-radius: 20px;
    padding: 15px 20px;
    background: #0a7b27;
    border: 2px solid #084716;
}

a.video {
    font-size: 15px;
    font-weight: bold;
    color:#f6f6f6;
    text-decoration: none;
}

.video:hover {
    background: #0d6c27;
}

.stats-box {
    text-align: center;
}

.stats-box p{
    background: #2a2c2e;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 300px;
    margin: 0 10px;
    border-radius: 8px;
    border: 2px solid #555;
    font-family: Inter, sans-serif;
    display: inline-block;
    text-align: center;
    
}

.link {
    text-decoration: none;
    color: inherit;
}
.link:hover {
    text-decoration: underline;
}

.winrate a {
    text-decoration: none;
    color: inherit;
}
.winrate a:hover {
    text-decoration: underline;
    color: inherit;
}

.winrate {
    font-size: 22px;
}

.winrate + h2 {
    margin-top: 50px;
}

.box .rate {
    border-radius: 10px;
    border: 3px solid #000000;
    margin-top: 10px;
    width: 400px;
}

.board {
    width: 400px;
}

.desc {
    font-size: 20px;
}

.email {
    text-decoration: none;
    color: rgb(183, 184, 180);
}
.email:hover {
    text-decoration: underline;
}

.contact {
    font-size: 20px;
}

footer {
  padding: 20px 0;
}

footer p {
    color: #8f8f8f;
    font-size: 15px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 10px;
}

#twitch {
    width: 25px;
}

#discord {
    width: 28px;
}